* {
  margin: 0;
  border: border-box;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}

/** Navigation bar starts **/
/*Box-1*/

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}
.nav-logo {
  width: 110px;
  height: 50px;
}
.logo {
  background-image: url("./images/amazon_logo.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  margin-left: 5px;
}
.border {
  border: 1.5px solid transparent;
}
.border:hover {
  border: 1.5px solid white;
  cursor: pointer;
}
/* Box-2*/
.nav-address {
  height: 50px;
  width: 88px;
  padding: 7px;
}
.nav-address p {
  color: #cccccc;
  font-size: 12px;
  margin-left: 15px;
}
.add-icon b {
  font-size: 14px;
  margin-left: 4px;
}
.add-icon {
  display: flex;
  align-items: center;
}
/*Box-3 search*/

.nav-search {
  display: flex;
  justify-content: space-evenly;
  width: 650px;
  height: 40px;
  border-radius: 5px;
}
.search-select {
  background-color: #f3f3f3;
  width: 50px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}
.search-input {
  font-size: 1rem;
  border: none;
  width: 100%;
  outline: none;
}
.search-icon {
  width: 45px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 1.2rem;
  color: #1b1b3d;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(225, 183, 91);
}

/*Box-4 lang*/

.nav-lang {
  height: 50px;
  width: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lang-logo {
  background-image: url("images/flag.png");
  width: 21px;
  height: 16px;
  background-size: cover;
}
.lang-select {
  background-color: #0f1111;
  color: white;
  font-weight: bold;
  border-style: none;
}
/*Box-5*/
.nav-signin {
  height: 50px;
  width: 130px;
}
span {
  font-size: 12px;
  margin-left: 4px;
}
.account {
  background-color: #0f1111;
  color: white;
  border-style: none;
  font-weight: bold;
  font-size: 13px;
  border-style: none;
}
/*Box-6*/
.nav-orders {
  width: 76px;
  height: 50px;
  align-items: center;
}
.nav-second {
  font-weight: 600;
  margin-left: 4px;
  font-size: 14px;
  margin-top: 2.5px;
}
/*Box-7*/
.nav-cart {
  width: 84px;
  height: 50px;
  display: flex;
  align-items: center;
}
.nav-cart i {
  font-size: 30px;
}
.nav-cart p {
  margin-top: 10px;
  margin-left: 2px;
  font-weight: 700;
}
/* Sections */

.panel {
  height: 39px;
  display: flex;
  justify-content: flex-start;
  background-color: #222f32;
  color: white;
  align-items: center;
  gap: 1%;
  overflow: hidden;
}
.menu {
  width: fit-content;
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  border: none;
  margin-left: 8px;
}
.menu p {
  font-weight: 700;
  margin-left: 5px;
  font-size: 14.5px;
}
.menu i {
  font-size: 19px;
}
.sec {
  width: auto;
  display: flex;
  font-size: 14.5px;
  border: none;
  justify-content: space-evenly;
  gap: 10px;
  height: 100%;
}
.sec p {
  display: flex;
  align-items: center;
}
.sec2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.prime {
  background-color: rgb(21, 47, 73);
  color: white;
  border: none;
  font-size: 14.5px;
}
/* Hero section */

.hero-section {
  background-image: url("images/background-image.jpg");
  background-size: cover;
  height: 310px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero-msg {
  background-color: white;
  color: #0f1111;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin-bottom: 20px;
  font-size: 14.5px;
}

/* Shop section starts */

.shop-section {
  height: auto;
  width: auto;
  padding-top: 10px;
  background-color: #cccccc;
  justify-content: center;
  padding-bottom: 3%;
}
.box {
  height: 420px;
  width: 100%;
  background-color: #ffffff;
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  gap: 2%;
  margin: 2%;
}

.content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin: 3rem 0 2rem 0;
  padding-left: 3%;
}
.break-line1 {
  height: 20px;
}
/* Box with an inset shadow */

.heading {
  font-weight: 700;
  font-size: 21px;
  height: 54px;
  padding: 10px;
}
.box1a {
  background-image: url("images/box1a.jpg");
  background-size:cover;
  background-position: center;
}

.img {
  height: 100px;
  width: 120px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  border-radius: 10px;
  object-fit: fill;
}
.img:hover {
  transform: scale(1.2);
}
.img-title {
  font-size: 13px;
  margin-left: 20px;
}
.box9{
  display: none;
}
.box1b {
  background-image: url("images/box1b.jpg");
  background-size:cover;
  background-position: center;
}
.box1c {
  background-image: url("images/box1c.jpg");
  background-size:cover;
  background-position: center;
}
.box1d {
  background-image: url("images/box1d.jpg");
  background-size:cover;
  background-position: center;
}
.box2a {
  background-image: url("images/box2a.jpg");
  background-size:cover;
  background-position: center;
}
.box2b {
  background-image: url("images/box2b.jpg");
  background-size:cover;
  background-position: center;
}
.box2c {
  background-image: url("images/box2c.jpg");
  background-size:cover;
  background-position: center;
}
.box2d {
  background-image: url("images/box2d.jpg");
  background-size:cover;
  background-position: center;
}
.box3a {
  background-image: url("images/box3a.jpg");
  background-size:cover;
  background-position: center;
}
.box3b {
  background-image: url("images/box3b.jpg");
  background-size:cover;
  background-position: center;
}
.box3c {
  background-image: url("images/box3c.jpg");
  background-size:cover;
  background-position: center;
}
.box3d {
  background-image: url("images/box3d.jpg");
  background-size:cover;
  background-position: center;
}
.box4a {
  background-image: url("images/box4a.jpg");
  background-size:cover;
  background-position: center;
}
.box4b {
  background-image: url("images/box4b.jpg");
  background-size:cover;
  background-position: center;
}
.box4c {
  background-image: url("images/box4c.jpg");
  background-size:cover;
  background-position: center;
}
.box4d {
  background-image: url("images/box4d.jpg");
  background-size:cover;
  background-position: center;
}
.box5a {
  background-image: url("images/box5a.jpg");
  background-size:cover;
  background-position: center;
}
.box5b {
  background-image: url("images/box5b.jpg");
  background-size:cover;
  background-position: center;
}
.box5c {
  background-image: url("images/box5c.jpg");
  background-size:cover;
  background-position: center;
}
.box5d {
  background-image: url("images/box5d.jpg");
  background-size:cover;
  background-position: center;
}
.box6a {
  background-image: url("images/box6b.jpg");
  background-size:cover;
  background-position: center;
}
.box6b {
  background-image: url("images/box6b.jpg");
  background-size:cover;
  background-position: center;
}
.box6c {
  background-image: url("images/box6c.jpg");
  background-size:cover;
  background-position: center;
}
.box6d {
  background-image: url("images/box6d.jpg");
  background-size:cover;
  background-position: center;
}
.box7a {
  background-image: url("images/box7a.jpg");
  background-size:cover;
  background-position: center;
}
.box7b {
  background-image: url("images/box7b.jpg");
  background-size:cover;
  background-position: center;
}
.box7c {
  background-image: url("images/box7c.jpg");
  background-size:cover;
  background-position: center;
}
.box7d {
  background-image: url("images/box7d.jpg");
  background-size:cover;
  background-position: center;
}
.box8a {
  background-image: url("images/box8a.jpg");
  background-size:cover;
  background-position: center;
}
.box8b {
  background-image: url("images/box8b.jpg");
  background-size:cover;
  background-position: center;
}
.box8c {
  background-image: url("images/box8c.jpg");
  background-size:cover;
  background-position: center;
}
.box8d {
  background-image: url("images/box8d.jpg");
  background-size:cover;
  background-position: center;
}
.shop-section a {
  text-decoration: none;
  margin-left: 17px;
}

/*  Book - Section starts  */
.book-section {
  margin: 0;
  padding: 20px;
}
.matter {
  display: block;
  background-color: #ffffff;
}
.matter .heading {
  padding: 20px 0px 0 20px;

  margin-bottom: 10px;
}
.book-container {
  display: flex;
  padding: 0 10px 10px 20px;
}
.book img {
  width: 120px 200px;
  height: 200px;
  padding: 0 20px 10px 0;
  transition: all 0.3s ease;
}
.book img:hover {
  transform: scale(1.1);
}
/* Footer starts */
footer {
  margin-top: 15px;
}
.foot-panel1 {
  background-color: #37475a;
  color: white;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}
.foot-panel2 {
  background-color: #222f3d;
  color: white;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 4%;
  justify-content: flex-start;
  overflow: hidden;
  gap: 2%;
}
ul{
  padding: 10px;
  margin: 0;
}
ul p {
  font-size: 16px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 5px;
}
ul a {
  display: block;
  font-size: 14px;
  margin: 10px 10px 10px 0px;
  color: #dddddd;
}
.foot-panel3 {
  background-color: #222f3d;
  color: white;
  border-top: 0.5px solid rgb(116, 109, 109);
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot-lang {
  background-color: #222f3d;
  color: white;
  border-style: none;
  font-size: 13px;
  border-style: none;
}
.foot {
  border: 1px solid rgb(116, 109, 109);
  margin-left: 80px;
  color: #dddddd;
  padding: 10px;
}
.foot i {
  font-size: 12px;
  color: #dddddd;
}
.foot-panel4 {
  background-color: #131a22;
  color: white;
  height: 76px;
  text-align: center;
}
.pages {
  padding-top: 10px;
}
.pages a {
  font-size: 12px;
  margin: 5px;
}
.time {
  font-size: 12px;
  margin-top: 5px;
}
.foot-panel3 img{
  width: 100px;
}

@media(max-width:1280px){
  .book-container{
    justify-content: space-evenly;
  }
  .book{
    width: 13%;
  }
  
  .book img {
      width:100%;
      height: 100%;
  }
  .logo{
    width: 100%;
    height: 100%;
  }
}
@media(max-width:1024px){
  .navbar{
    width: 100%;
  }
  .nav-logo{
    width: 10%;
  }
  .nav-address{
    width: 10%;
  }
  .nav-search{
    width: 34%;
  }
  .nav-lang{
    width: 7%;
  }
  .nav-signin{
    width: 14%;
  }
  .nav-orders{
    width: 8%;
  }
  .nav-cart{
    width: 9%;
  }
  .book{
    width: 13%;
  }
  .img{
    height: 110px;
    width: 110px;
  }
  .content{
    padding-left: 3%;
    margin: 1rem 0 1rem 0;
  }
  .heading{
    font-size: 17px;
  }
  .book img{
    height: 100%;
    width: 109%;
  }
  .shop-section{
    padding-bottom: 5%;
  }
  
  ul p{
    font-size: 14px;
  }
  ul a{
    font-size: 12px;
  }
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-content: center;
    gap: 2%;
    margin: 2%;
  }
  .box9{
    display: block;
  }
  .sec {
    width: auto;
  }
}

@media(max-width:800px){
  .navbar{
    width: 100%;
    gap: 0;
    padding: 0;
  }
  .logo{
    height: 20px;
    width: 70px;
    background-size: cover;
    background-position: center;
  }
  .nav-logo{
    width: 10%;
    display: flex;
    align-items: center;
  }
  .nav-address p{
    font-size: 11px;
  }
  .nav-address b{
    font-size: 12px;
  }
  .nav-address i{
    font-size: .8rem;
  }
  .nav-address{
    width: 11%;
  }
  .nav-search{
    width: 30%;
  }
  .nav-search input{
    font-size: .8rem;
  }
  .nav-lang{
    width: 10%;
  }
  .lang-logo{
    width: 1rem;
    background-position: center;
    background-size: cover;
  }
  .lang-select{
    font-size: 10px;
  }
  .nav-signin{
    width: 14%;
  }
  .nav-signin p{
    font-size: 10px;
  }
  .account{
    font-size: 12px;
    word-wrap: break-word;
    width: 80px;
  }
  .nav-orders{
    width: 8%;
  }
  .nav-orders p, .nav-orders span{
    font-size: 10px;
  }
  .nav-cart{
    width: 9%;
  }
  .row{
    gap: 2%;
    margin: 2% 2% 5% 2%;
  }
  .nav-cart i{
    font-size: 15px;
  }
  .nav-cart p{
    font-size: 12px;
  }
  .book{
    width: 13%;
  }
  .img{
    height: 80px;
    width: 70px;
  }
  .content{
    padding-left: 3%;
    margin: 1rem 0 1rem 0;
    height: auto;
  }
  .box{
    height: auto;
    padding-bottom: 15%;
  }
  .heading{
    font-size: 17px;
  }
  .book img{
    height: 100%;
    width: 109%;
  }
  ul p{
    font-size: 12px;
  }
  ul a{
    font-size: 10px;
  }
  .panel p{
    font-size: 12px;
  }
  .prime{
    font-size: 12px;
  }
  .hero-msg{
    font-size: 10px;
    text-align: center;
  }
  .hero-section{
    height: 200px;
  }

  .heading p{
    font-size: .9rem;
  }
  .shop-section a{
    font-size: 12px;
  }
  .book-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .book{
    width: 90%;
  }
  .pages a{
    font-size: 10px;
  }
  .time p{
    font-size: 9px;
  }
  .foot-panel1 {
    font-size: 15px;
  }
}
 @media(max-width:500px){
  .row{
    grid-template-columns: 1fr 1fr;
    margin: 2% 2% 20% 2%;
  }
  .box9{
    display: none;
  }
  .panel{
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
  }
  .sec{
    gap: 2px;
  }
  .menu{
    margin-right: 5px;
  }
  .menu i{
    font-size: 10px;
  }
  .panel p{
    font-size: 10px;
    padding:0;
    margin: 0;
  }
  .prime{
    font-size: 10px;
  }
  .navbar{
    height: auto;
  }
  .logo{
    height: 20px;
    width: 50px;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
  }
  .nav-address p{
    font-size: 9px;
    word-wrap: break-word;
    width: 30px;
  }
  .nav-address b{
    font-size: 11px;
    padding: auto;
  }
  .nav-address i{
    font-size: .7rem;
  }
  .nav-logo{
    width: fit-content;
  }
  .nav-address{
    width: 13%;
    margin:0 ;
    padding: 0;
  }
  .nav-search{
    width: 25%;
    height: 30px;
  }
  .nav-search input{
    font-size: 11px;
  }
  .search-select{
    width: fit-content;
    font-size: 10px;
  }
  .search-icon{
    font-size: 13px;
  }
  .nav-lang{
    width: auto;
  }
  .lang-logo{
    width: 15px;
    height: 10px;
  }
  .lang-select{
    font-size: 10px;
  }
  .nav-signin{
    width: 13%;
    overflow: hidden;
  }
  .nav-signin p span{
    font-size: 10px;
    word-wrap: break-word;
    padding: auto;
    margin: auto;
  }
  .account{
    font-size: 10px;
    word-wrap: break-word;
    margin: auto;
    padding: 0;
  }
  .navbar{
    justify-content: flex-start;
    align-items: center;
    height: 50px;
  }
  .nav-orders{
    width: auto;
    margin: 0 ;
    text-align: center;
  }
  .nav-cart i{
    font-size: 10px;
  }
  .nav-cart p{
    font-size: 10px;
  }
 }

